@page "/entry_info"

<PageTitle>Anime info</PageTitle>

<h1>Yuru Camp</h1>

<b>Anime about camping</b>

<table class="navbar">
    <tr>
        <td class="navbar-element">
            <DescriptionInfo Descr="a good person" />
        </td>
    </tr>
    <tr>
        <td class="navbar-element">
            <ScoreInfo />
        </td>
    </tr>
</table>
