@page  "/"
 
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}
 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>metanit.com</title>
    <base href="/" />
</head>
<body>
    <component type="typeof(blazorwasmemptyapp.App)" render-mode="WebAssemblyPrerendered" />
    <h2>Blazor Host</h2>
    <script src="_framework/blazor.webassembly.js"></script>
</body>
</html>