@* 
<form method="post">
    <div>
        <p>
            <label for="name">Name</label><br />
            <input type="text" id="name" name="name" />
        </p>
        <p>
            <label for="age">Age</label><br />
            <input id="age" name="age" />
        </p>
        <p>
            <input type="submit" value="Send"  />
        </p>
    </div>
</form> 
*@

@model MvcApp.Models.Person
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<style>
.field-validation-error {
    color: #b94a48;
}
  
input.input-validation-error {
    border: 1px solid #b94a48;
}
input.valid {
    border: 1px solid #16a085;
}
 
.validation-summary-errors {
    color: #b94a48;
}
</style>
 
<form method="post">
    <div asp-validation-summary="All"></div>
        <p>
            <label asp-for="Name">Name</label><br />
            <input type="text" asp-for="Name" />
            <span asp-validation-for="Name"  />
        </p>
        <p>
            <label asp-for="Email">Email</label><br />
            <input type="text" asp-for="Email" />
            <span asp-validation-for="Email"  />
        </p>
        <p>
            <label asp-for="Password">Password</label><br />
            <input type="text" asp-for="Password" />
            <span asp-validation-for="Password"  />
        </p>
        <p>
            <label asp-for="Age">Age</label><br />
            <input asp-for="Age" />
            <span asp-validation-for="Age" />
        </p>
        <p>
            <input type="submit" value="Send"  />
        </p>
    </div>
</form>
 
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.6.4.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.3/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js"></script>