<form method="post">
    <p>
        <label>Событие</label><br />
        <input type="text" name="Name" />
    </p>
    <p>
        <label>Дата</label><br />
        <input type="date" name="Date" />
    </p>
    <p>
        <label>Время</label><br />
        <input type="time" name="Time" />
    </p>
    <p>
        <input type="submit" value="Отправить" />
    </p>
</form>