<div>
    <img src="https://learn.microsoft.com/en-us/aspnet/web-pages/overview/ui-layouts-and-themes/9-working-with-images/_static/image1.jpg" alt="Sample Photo" />
    <b>Taras was @Descr</b>
</div>
