@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="header">
            <NavMenu />
        </div>

        <article>
            @Body
        </article>

        <footer>
            <p>&copy; My ASP.NET Application</p>
        </footer>
    </main>
</div>
