@* <nav class="navbar">
    <NavLink class="navbar-element" href="" Match="NavLinkMatch.All">
        Home
    </NavLink>
    <NavLink class="navbar-element" href="counter">
        Counter
    </NavLink>
    <NavLink class="navbar-element" href="fetchdata">
        Fetch data
    </NavLink>
</nav> *@

<table class="navbar">
    <tr>
        <td class="navbar-element">
            <NavLink href="" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </td>
        <td class="navbar-element">
            <NavLink class="navbar-element" href="counter">
                Counter
            </NavLink>
        </td>
        <td>
            <NavLink class="navbar-element" href="fetchdata">
                Fetch data
            </NavLink>
        </td>
        <td>
            <NavLink class="navbar-element" href="entry_info">
                Anime
            </NavLink>
        </td>
    </tr>
</table>
